/* remember that style sheets cascade, so whatever is on the bottom will override whats on top. Don't have multiple statements for the same element. Organization and hierarchy are key, start with larger elements and work your way down.

Do they best you can with this, talk with each other and help each other. Most colors and fonts are provided for you. Use adobe color to find the other colors from the sample image.*/
body {
background-color: rgba(255, 255, 255, 0.958);
text-align:center;
color: rgb(34, 34, 23);
}

h1 {
background-color: rgb(149, 176, 255);
text-decoration: none;
text-align: center;
color: rgb(0, 0, 0);
border:thin;
font-family: 'Times New Roman', Times, serif;
margin: center;
font-size: 60px;
font-weight: bolder;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

p {
color: rgb(0, 0, 0);
text-align:center;
text-decoration: none;
font-weight: lighter;
    border: thin;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgb(72, 72, 72); /* Adds a solid black border */
    padding: 20px; /* Adds space around the content, inside the border */
    margin: 15px; /* Adds space outside the border, from other elements */
    border-radius: 10px; /* Rounds the corners of the border */
}

div a {
    color:rgb(35, 30, 15);
    font-weight: 500;
    text-decoration: none;
    font-size: medium;
    text-align: center;
}
ul {
  list-style-type: none;
}

footer {
    color:rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    font-size: medium;
    text-align: center;
}

h2 {
text-align:center;
color: rgb(0, 0, 0);
text-decoration: none;
}
nav {
    background-color: rgb(200, 200, 255);
    color: black;
    border: thin;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgb(72, 72, 72); /* Adds a solid black border */
    padding: 20px; /* Adds space around the content, inside the border */
    margin: 15px; /* Adds space outside the border, from other elements */
    border-radius: 10px; /* Rounds the corners of the border */
}

