/* styles already given to you: take a look at the @font-face, this is how we add a custom font to our css. the font file is inside the fonts folder within the root folder structure */

@font-face {
  font-family: fleetwoodMac;
  src: url("fonts/fleetwoodMac.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #0d0d0d;
  font-family: 'fleetwoodMac', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: none;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
  border: thin

}

h2 {
  font-size: 36px;
  letter-spacing: 5px;
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color:#0d0d0d;
  border: thin#0D0D0D;

}

li {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 5px;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

#info {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 5px;
}

header, footer {
  margin: 1px;
  padding: 1px;
  border: 1px solid #0D0D0D;
  border-radius: 8px;
  background: #0D0D0D;
  color: #ffffff;
}

img {
  max-width: 100%;
  border: .5px solid #0D0D0D;
}

/*----------------------------------------------
  C O L U M N   L A Y O U T
------------------------------------------------*/

/*
INSTRUCTIONS:
STEPS 1, 2 & 3 are in the index.html file
*/

/* 4. Add display: flex; to flex-container */
/* 5. Add flex-direction: row; to flex-container; */
/* 6. Give each column wrapper (flex item) a width in percentages, adjust margin and padding so that it is visually appealing */
/* 
pro-tip: it is easier to change the background color/border of individual boxes to help clarify what you are working on and to make sure you are targeting the correct html tag */

/* 7. BONUS: look at the heirarchy of the typography and think about the rules in regard to how many times certain tags should be on the page and correct the errors */


/* Flex container (hint this is a parent container)*/



/* Flex item (left column hint-this is a child container) */



/* Flex item (right column hint-this is a child container) */


